<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Forgot Password</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://ec2-3-17-219-208.us-east-2.compute.amazonaws.com/briana_fitness/admin/assets/css/bootstrap.min.css">
        <script src="http://ec2-3-17-219-208.us-east-2.compute.amazonaws.com/briana_fitness/admin/assets/js/jquery.3.2.1.min.js"></script>
        <script src="http://ec2-3-17-219-208.us-east-2.compute.amazonaws.com/briana_fitness/admin/assets/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <style>
            .form-content{ margin-top: 50%; transform: translate(0%,-50%); }
            .logo-link .main-logo{ margin: 30px auto;max-width: 250px;width: 100%; }
            .klogin-cover { background: #fff;box-shadow: 0px 0px 20px rgba(0,0,0,0.2);padding: 45px;border-top: 4px solid #FEDC18; }
        </style>
    </head>
    <body style="background:#0264b7">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>   
                <div class="col-md-6">
                    <div class ="form-content">
                        <div class="row">
                            <div class="col-md-12 ">
                                <a href="" class="logo-link m-auto"><img src="http://ec2-3-17-219-208.us-east-2.compute.amazonaws.com/briana_fitness/admin/assets/img/logo.svg" class="img-responsive main-logo"></a>
                            </div>
                        </div>
                        <div class="klogin-cover">
                            <div class="row">
                                <div class="col-md-12 pr-1">
                                    <center><b>Forgot Password</b></center>  
                                </div> 
                            </div>
                            <form action="submit_form" method="POST">
                                <h1>{{ msg }}</h1>
                                <div class="row">
                                    <div class="col-md-12 pr-1" style="margin-bottom: 10px;"><br>
                                        <div class="form-group is-empty">
                                            <input name= "password" type="password" class="form-control" placeholder="Enter new password" style="height: 45px;" required>
                                            <span class="material-input"></span> 
                                        </div>
                                    </div> 
                                    <div class="col-md-12 pr-1">
                                        <div class="form-group is-empty">
                                            <input type="password" name="confirm_password" class="form-control" required placeholder="Confirm password" style="height: 45px;">
                                            <span class="material-input"></span></div>
                                    </div> 
                                    <div class="col-md-12 pr-1"><br>
                                        <center><button type="submit" class="btn btn-primary" data-dismiss="modal" style="width: 70%;height: 50px;">Submit</button></center>
                                    </div> 
                                </div>
                            </form>
                        </div>
                    
                    </div>
                </div>   
            </div>
        </div>
    </body>
</html>